* {
    box-sizing: border-box;
}

#bodyWrapper {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 5rem;
    overflow-x: hidden;
    min-height: 100vh;
}

div#sideNav {
    min-height: 100px;
    max-height: 50vh;
    background-color: #be9f7b;
    overflow: scroll;
}

div#sideNav a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
}

div#sideNav a.active {
    color: orange;
}

div#sideNav a:hover {
    color: #064579;
}

nav#headerNav,
footer {
    background-color: #be9f7b !important;
}

nav#headerNav a {
    color: #fff !important;
}

nav#headerNav a:hover {
    color: rgba(255, 255, 255, .75) !important;
}


