.joinModal-title{
	color:#a0794c;
}
.loginModal-imgcontainer-dis{
	font-size:14px;
	color:#BE9F7B;
}
.loginModal-imgcontainer{
	display:block;
	text-align:center;
	margin: 24px 0 12px 0;
}
img.loginModal__img-profile{
	width: 120px;
	height:120px;
	border-radius: 50%;
	color: rgba(0, 0, 0, 0) !important;
	margin:0px 30px;
}
.loginModal__img-profile:hover{
	cursor: pointer;
}
.joinModal-body > input, .joinModal-body-postcode > input[type=text] { 
	width: 100%;
	padding: 9px 18px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #B63629;
}
.joinModal-body-postcode > input{
	width: 40% !important;
}
.joinModal-body > input:focus, .joinModal-body-postcode > input:focus{
	outline:none;
}
.joinModal-body > label{
	margin:7px 0 0 0;
}
.joinModal-body-postcode{
	display:inline-block;
}
.joinModal-body__button-code{
	padding:8px;
	border-radius:5px;
	border-line: none;
	border-color:#BE9F7B;
	background-color: #BE9F7B;
	color:white;
	opacity:0.9;
}
.joinModal-body__addressinput{
	widht:100%;
}
.joinModal-footer > button{
	width:100%;
	padding:10px;
	border-radius:5px;
	border-line: none;
	border-color:#BE9F7B;
	background-color: #BE9F7B;
	color:white;
	opacity:0.9;
}
.joinModal-footer > button:focus, .joinModal-body__button-code:focus{
	outline:none;
}
.joinModal-footer > button:hover, .joinModal-body__button-code:hover{
	background-color: #BE9F7B;
	color:#B63629;
}