.joinModal-title{
	color:#a0794c;
}
.joinModal-body > input, .joinModal-body-postcode > input { 
	width: 100%;
	padding: 9px 18px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #B63629;
}
.joinModal-body-postcode > input{
	width: 50%;
}
.joinModal-body > input:focus, .joinModal-body-postcode > input:focus{
	outline:none;
}
.joinModal-body > label{
	margin:7px 0 0 0;
}
.joinModal-body-postcode{
	display:inline-block;
}
.joinModal-body__button-code{
	padding:8px;
	border-radius:5px;
	border-line: none;
	border-color:#BE9F7B;
	background-color: #BE9F7B;
	color:white;
	opacity:0.9;
}
.joinModal-body__addressinput{
	widht:100%;
}
.joinModal-footer > button{
	width:100%;
	padding:10px;
	border-radius:5px;
	border-line: none;
	border-color:#BE9F7B;
	background-color: #BE9F7B;
	color:white;
	opacity:0.9;
}
.joinModal-footer > button:focus, .joinModal-body-postcode > button:focus{
	outline:none;
}
.joinModal-footer > button:hover, .joinModal-body-postcode > button:hover{
	background-color: #BE9F7B;
	color:#B63629;
}