@charset "UTF-8";
/*mypage-maininfo start*/
.infomain__img{
	text-align:center;
}
.infomain__img > img{
	width:150px;
	height:150px;
	border-radius: 50%;
}
.infomain__count{
	width: 100%;
	padding: 30px;
	display: flex;
	justify-content:center;
	font-size: 22px;
}
.infomain__count span{
	margin: 0 30px;
}
.infomain__list{
	display: flex;
	justify-content:center !important;
}
.infomain__list-table tr  td{
	padding: 10px 20px;
	font-size: 20px;
}
.infomain__list-table tr td:nth-child(1){
	margin: 0 20px;
}
.infomain__link{
	display:flex;
	justify-content:center;
}
.infomain__link span{
	width: 23%;
	margin: 30px;
}
.infomain__link span button{
	padding: 10px 20px;
	width:100%;
	border-radius:5px;
	border-line: none;
	border-color:#6b9068;
	background-color: white;
	color:#6b9068ba;
	opacity:0.9;
}
.infomain__link span button:hover{
	background-color: #6b9068ba;
	color:#B63629;
}
.infomain__link span button:focus{
	outline:none;
}
/*mypage-maininfo end*/

/*mypage-maininfo pwdModal start*/
.pwdModal-title{
	color:#6b9068ba;
}
.pwdModal-body > input{ 
	width: 100%;
	padding: 9px 18px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #B63629;
}
.pwdModal-body > label{
	margin:7px 0 0 0;
	opacity: 0.7;
}
.pwdModal-footer > button{
	width:100%;
	padding:10px;
	border-radius:5px;
	border-line: none;
	border-color:#6b9068ba;
	background-color: #6b9068ba;
	color:white;
	opacity:0.9;
}
.pwdModal-footer > button:focus,.pwdModal-body > input:focus{
	outline:none;
}
.pwdModal-footer > button:hover{
	background-color: #6b9068ba;
	color:#B63629;
}
/*mypage-maininfo pwdModal end*/

/*mypage-maininfo modifyModal start*/
.modifyModal-title{
	color:#6b9068ba;
}
.modifyModal-imgcontainer-desc{
	font-size:14px;
	color:#6b9068ba;
}
.modifyModal-imgcontainer{
	display:block;
	text-align:center;
	margin: 24px 0 12px 0;
}
img.modifyModal__img-profile{
	width: 120px;
	height:120px;
	border-radius: 50%;
	color: rgba(0, 0, 0, 0) !important;
	margin:0px 30px;
}
.modifyModal__img-profile:hover{
	cursor: pointer;
}
.modifyModal__img-profile + span{
	display:none;
}
.modifyModal-body > input, .modifyModal-body-postcode > input[type=text] { 
	width: 100%;
	padding: 9px 18px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #B63629;
}
.modifyModal-body-postcode > input{
	width: 40% !important;
}
.modifyModal-body > input:focus, .modifyModal-body-postcode > input:focus{
	outline:none;
}
.modifyModal-body > label{
	margin:7px 0 0 0;
	opacity: 0.7;
}
.modifyModal-body-postcode{
	display:inline-block;
}
.modifyModal-body__button-code{
	padding:8px;
	border-radius:5px;
	border-line: none;
	border-color:#6b9068ba;
	background-color: #6b9068ba;
	color:white;
	opacity:0.9;
}
.modifyModal-body__addressinput{
	widht:100%;
}
.modifyModal-footer > button{
	width:100%;
	padding:10px;
	border-radius:5px;
	border-line: none;
	border-color:#6b9068ba;
	background-color: #6b9068ba;
	color:white;
	opacity:0.9;
}
.modifyModal-footer > button:focus, .modifyModal-body__button-code:focus{
	outline:none;
}
.modifyModal-footer > button:hover, .modifyModal-body__button-code:hover{
	background-color: #6b9068ba;
	color:#B63629;
}


/*mypage-maininfo modifyModal end*/

/*mypage-pointlist start*/
.pointList-viewcount{
	width: 70px;
    margin: 50px 100px 0;
}

.totalPoint{
	font-size:30px;
	
	color: dimgrey;
}
.pointList__body{
	display:flex ;
	flex-direction:column;
	justify-content:center;
	width: 100%;
	padding: 10px 100px;
	
}
.pointList__table{
	text-align: center;
}
.pointList__table-head{
	background-color:#fbf9f7; 
}
.pointList__table-body--btn a{
	font-size:15px;
	text-decoration:none;
	background-color:#6b9068ba;
	color:white;
	border-radius:5px;
	padding:0 5px;
}
.pointPagination{
	display: flex;
    list-style: none;
    padding:0;
    
}
.pointPage-item{
	text-align:center;
}
.pointPage-item .link{
	border-radius:20px;
	border:solid 2px #6b9068ba;
	text-align:center;
	text-decoration:none;
	padding:2px 10px;
	margin:0 5px;
	color: #6b9068ba;
	
}
.pointPage-item .link:hover{
	background-color:#6b9068ba;
	color:white;
}
.pointList-viewcount:focus{
	border-color: #6b9068ba;
	box-shadow:none;
}
/*mypage-pointlist end*/

/*mypage-report start*/

.mypageReport__body{
	text-align:center;
	width: 100%;
	padding: 60px 100px;
	
}
.mypageReport__body--radio{
	display:flex;
	padding: 10px;
}
.mypageReport__body--radio div{
	margin:10px;
}
.mypageReport__table-head{
	background-color:#fbf9f7; 
}
/*mypage-report end*/

/*mypage-review start*/
.mypageReview__body{
	width:80%;
	margin: 40px 40px 0 40px;
	background-color: #fef9f1;
	box-shadow: -7px 7px 9px darkgrey;
	border-radius: 50px 50px 0 50px;
	
}
.mypageReview__content-left{
	width: 500px;
}
.mypageReview__content-left div{
	text-align:center;
}
.mypageReview__content-left>div{
	margin: 20px;
}
.mypageReview__content-left > div:nth-child(1){
	position: relative;
    right: 20px
}
.mypageReview__content-left > div > span:nth-child(1){
	position: relative;
	bottom:20px;
}
.mypageReview__content-left > div > span:nth-child(2){
    font-weight: 700;
    
}
.mypageReview__content-right{
	padding-right:40px;
	padding-bottom: 20px;
}
.mypageReview__content-right--rivew{
	padding-top:30px;
}
.mypageReview__content-left > .text-center > button{
	border-radius:5px;
	border-line: none;
	border-color:#6b9068ba;
	background-color: #6b9068ba;
	color:white;
	opacity:0.9;
	margin: 5px 8px;
	padding:0 10px;
}
.addMessage{
    width: 87%;
    margin: 100px 0;
    background-color:oldlace;
    border: solid 1px #6b9068ba;
    border-radius:5px;
    color:#6b9068;
}
#sum_p_num, #sum_p_price {
	text-align:center;
	text-size:large;
}

#pmbtn {
	color: #be9f7b;
	font-size: 2em;
	letter-spacing: -5px;
}

.menuName, .buttonGroup {
	text-align: center;
	font-size: large;
}

/*mypage-review end*/

/*mypage-oreder-list start*/
.mypageOrderList__body{
	width:80%;
	margin: 40px 40px 0 40px;
	background-color: #fef9f1;
	box-shadow: -7px 7px 9px darkgrey;
	border-radius: 5px;
	display:flex;
	justify-content:center;
}
.mypageOrderList__content-left{
	width:40%;
}
.mypageOrderList__content-left div{
	text-align:center;
}
.mypageOrderList__content-left>div{
	margin: 20px;
}
.mypageOrderList__content-left > div > span:nth-child(1){
    font-weight: 700;
    font-size:20px;
}
.mypageOrderList__content-right{
	display:grid;
	grid-tamplate-rows: 1fr 1fr 1fr;
	padding: 10px;
}
.mypageOrderList__content-right--status{
	padding-top:5px;
}
.mypageOrderList__content-right--status span{
	background-color:blanchedalmond;
	
}
.mypageOrderList__content-right > .text-right{
	display: inline-block;
}
.mypageOrderList__content-right > .text-right > button{
	border-radius:5px;
	border-line: none;
	border-color:#6b9068ba;
	background-color: #6b9068ba;
	color:white;
	opacity:0.9;
	margin: 5px 8px;
}
.more{
	text-align:center;
	opacity:0.9;}
	

.pageInc{
	background-color:#6b9068ba !important;
}

/*mypage-oreder list end*/


#pay{
		text-align:center;
	
}
/*mypage-review end*/
/*mypage-likes_list start*/
.mypageFavoirteList__body{
	background-color:#f7f7f7;
	box-shadow: -7px 7px 9px darkgrey;
	border-radius: 5px;
}
.FavoirteList__btn button{
	width:117px;
	background-color:#848fd1 !important;
}
/*mypage-likes_list start*/
