h2, h5, .basketprice, .num, .updown, .menuName {
	display: inline;
}

h4, #sum_p_num, #sum_p_price, sum_p_name {
	text-align: center;
	font-size: large;
}
h2{
	padding-bottom:10px;
}
.likes{
	padding: 0 15px;
	font-weight:bold;
}
.yeslikebtn,.nolikebtn{
	padding:3px 5px ;
	border:solid 3px #e5e1e1;
	border-radius:3px;
}
.yeslikebtn:hover{
	background-color: #ec5569;
	text-decoration:none;
	cursor: pointer;
	color: white;
}
.nolikebtn:hover{
	background-color: lightgray;
	text-decoration:none;
	cursor: pointer;
	color:black;
}
.likesForAjax {
	margin-top:10px;
}
.store-order-main-container{
	 display: flex;
    justify-content: center;
}
.likeStoreStatus{
	padding:0
}
.likeStoreStatusA,.likeStoreStatusB{
	padding:0 0 0 16px;
}
#pmbtn {
	color: #be9f7b;
	font-size: 2em;
	letter-spacing: -5px;
}
.western div{
	padding: 20px 0;
}
.menuName, .buttonGroup {
	text-align: center;
	font-size: large;
}

.topnav {
	    text-align:center;
	
}
.topMenus{
	display:flex;
}
.topnav a {
  float: center;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover, .topnav a.active:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: white;
  color: black;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav {
    float: none;
  }
  .topnav a, .topnav {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  
 .payMentView{
 display:flex;
 justify-content:center;
 }